Repository eclipse-ee4j/glassfish, pull requests merged in 2022-01, with the labels that each got.

#23753 Add running of the REST TCK as an option
  appserver/tests/tck/pom.xml
  appserver/tests/tck/rest/pom.xml
  appserver/tests/tck/tck-download/jakarta-rest-tck/pom.xml
  appserver/tests/tck/tck-download/pom.xml
Labels: build and test improvement

#23754 Add running of the Faces TCK as an option
  appserver/tests/tck/faces/pom.xml
  appserver/tests/tck/pom.xml
  appserver/tests/tck/tck-download/jakarta-faces-tck/pom.xml
  appserver/tests/tck/tck-download/pom.xml
Labels: build and test improvement

#23756 Add running of the Authentication TCK as an option
  appserver/tests/tck/authentication/pom.xml
  appserver/tests/tck/pom.xml
  appserver/tests/tck/tck-download/jakarta-authentication-tck/pom.xml
  appserver/tests/tck/tck-download/pom.xml
Labels: build and test improvement

#23761 Added option javatest.security.noSecurityManager to TCKs
  appserver/tests/tck/authentication/pom.xml
  appserver/tests/tck/authorization/pom.xml
  appserver/tests/tck/faces/pom.xml
  appserver/tests/tck/rest/pom.xml
Labels: build and test improvement

#23763 Issue #23762 Fixed used singleton class
  appserver/web/jersey-ejb-component-provider/src/main/java/org/glassfish/jersey/gf/ejb/internal/EjbClassUtilities.java
  appserver/web/jersey-ejb-component-provider/src/main/java/org/glassfish/jersey/gf/ejb/internal/EjbComponentProvider.java
Labels: bug

#23765 Integrated jakarta.faces-api 4.0.0-M2
  appserver/pom.xml
  snapshots/faces/pom.xml
  snapshots/pom.xml
Labels: component upgrade
